#course_period
  %h3
    List of Course Periods

  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          Course Name
        %th
          Start Date
        %th

    - @course_periods.each do |x|
      %tr
        %td
          = x.course.name
        %td
          = x.start_date
        %td
          = link_to 'Edit', edit_course_period_path(x), :class => 'btn'
          &nbsp;
          = link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe, course_period_path(x), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger'

  %p
    = link_to 'Create New Course Period', new_course_period_path