= f.error_notification

= f.input :name
= f.input :username
= f.input :email
= f.input :password
= f.input :password_confirmation
= f.association :role

.form-actions
  = f.button :submit, :class => 'btn btn-primary'
  = link_to "Cancel", users_path, :class => 'btn'


