#user
  %h3
    List of Users

  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          Name
        %th
          username
        %th
          Role
        %th
          Email
        %th

    - @users.each do |x|
      %tr
        %td
          = link_to x.name, user_path(x)
        %td
          = x.username
        %td
          = x.role.name
        %td
          = x.email
        %td
          = link_to 'Edit', edit_user_path(x), :class => 'btn'
          &nbsp;
          = link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe, user_path(x), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger'

  %p
    = link_to 'Create New User', new_user_path