= simple_form_for book, :html => { :class => 'form-horizontal ajax' } do |f|
  = f.error_notification

  .float-left.span5
    = f.association :category
    = f.association :temple
    = f.input :title
    = f.input :author

  .float-left
    = f.input :shelve_location
    = f.input :book_number
    = f.input :label
    = f.simple_fields_for :inventory, :defaults => { :input_html => { :class => 'span2' } } do |i|
      = i.input :shelve_quantity

  .float-left.submit
    = f.button :submit, :class => 'btn btn-primary'

  .clear_both




