#book
  %h3
    Book Entry:
    %small
      = link_to 'Add a New Book', new_book_path, :class => 'ajax'

  #form
    = render 'form', :book => @book

  %hr

  %h3
    List of Books

  %p
    = raw page_entries_info(@books)
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          Book ID
        %th
          Title
        %th
          Temple
        %th
          Category
        %th
          Author
        %th
          Date Received
        %th
          Shelves Location
        %th
          On Shelve
        %th

    %tbody
      - @books.each do |x|
        = render 'table_row', :book => x

  %p
    = paginate @books