#book
  %p
    %span.field_name
      Title:
    = @book.title

  %p
    %span.field_name
      Author:
    = @book.author

  %p
    %span.field_name
      Date Received:
    = @book.created_at

  %p
    %span.field_name
      Shelve Location:
    = @book.shelve_location

  %p
    %span.field_name
      Book Number:
    = @book.book_number

  %p
    %span.field_name
      Label:
    = @book.label

  %p
    %span.field_name
      Category:
    = @book.category.try(:name)

  %p
    %span.field_name
      Temple:
    = @book.temple.try(:name)

  - if user_signed_in?
    %hr
    %p
      = link_to "Back to Books index", books_path
