#lending

  -# %h3
  -#   Find User
  -# #search_user
  -#   = search_form_for @q, :html => {:class => 'form-horizontal'} do |f|
  -#     .float-left
  -#       = f.label :member_first_name_or_member_last_name_cont, 'Name', :class => 'control-label'
  -#       .controls
  -#         = f.text_field :member_first_name_or_member_last_name_cont
  -#
  -#     .control-group
  -#       = f.label :member_home_phone_or_member_cell_phone_or_member_work_phone_cont, 'Phone Number', :class => 'control-label'
  -#       = f.text_field :member_home_phone_or_member_cell_phone_or_member_work_phone_cont, :class => 'margin-20'
  -#       = f.submit 'Search', :class => 'btn'
  -#
  -# %hr

  %h3
    List of Lendings

  %p
    = raw page_entries_info(@lendings)

  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          Book Title
        %th
          Borrower
        %th
          Start Date
        %th
          Due Date
        %th
          Date Of Return
        %th

    - @lendings.each do |x|
      %tr
        %td
          = link_to x.book.title, book_path(x)
        %td
          = x.member.name
        %td
          = x.date_of_lend
        %td
          = x.due_date
        %td
          = x.date_of_return
        %td
          - unless x.returned?
            = link_to return_button_label(x), edit_return_path(x), :class => 'btn'
            &nbsp;

          = link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe, lending_path(x), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger'

  %p
    = paginate @lendings
